<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<link rel="stylesheet" href="/ti.css" type="text/css" title="team-icon" />
		<title>Team Icon</title>
	</head>
	<body>
		<%= acc %>
		<h1>Team Icon</h1>

		<ul>
		<% tlinks.each{|tl| %>
			<li><%= tl %></li>
		<% } %>
		</ul>

		<% if is_admin %>
			<form method="post" action="/team">
				<input type="text" size="32" name="tname" /><input type="submit" />
			</form>
		<% end %>
		<p>
		<%= ver %> / <%= is_pro ? "production" : "development" %>
		</p>
	</body>
</html>
